@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@800&display=swap");
.zomato-text {
  font-family: "Almarai", sans-serif;
  font-style: oblique;
}

.card{
  border:1px solid gainsboro;
}
